{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Tic tac toe!</title>
  </head>
  <body>
    <div class="notvalid"  >

    </div>

    <div class="row">
        <div class="col-7 text-center">
            <h1>Create Room</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" class='form-group check_availiblity mt-5' name='room_name' placeholder="Enter room room name" ><br>
                <input type="text" class='form-group mt-2' name='player1' placeholder="Enter room Player 1 Name" ><br>
                <input type="text" class='form-group mt-2' name='player2' placeholder="Enter room Player 2 Name" ><br>
                <button class="btn btn-outline-dark btn-warning mt-2" type="submit" >Submit</button>
            </form>
        </div>
        <div class="col-5 text-center ">
            <h1>List of Rooms</h1>
            <ul class="list-group">
                {% for room in rooms %}
                <a href="{% url 'room_page' room.id %}">
                    <li class="list-group-item mt-1">{{room.room_name}}</li>
                </a>
                {% endfor %}
              </ul>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'js/tictactoe.js' %}"></script>


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
