{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .box {

            border-top-style: solid;
            border-top-width: 2px;
            border-left-style: solid;
            border-left-width: 2px;
            border-right-width: 2px;
            border-right-style: solid;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            padding-right: 1%;
            padding-left: 1%;
            padding-top: 0%;
            padding-bottom: 0%;

        }

        .size {
            height: 20vh;
            width: 20vh;
            border-right-color: black;
            border-bottom-color: black;
            background-color: white;
            font-size: 15vh;
            text-align: center;
            padding: 0;
            margin: 0;
        }
        .col-4{
            padding-left: 0;
            padding-right: 0;
        }
    </style>
</head>

<body>
    <div class=" text-center mt-5 ">

        <h1 class="room_id" id="{{room_data.id}}">{{room_data.room_name}}</h1>
    </div>

    <div class="container d-flex justify-content-between mt-3 ">

        <h3 class="player1">{{ room_data.player1_name }}</h3>

        <h3 class="player2">{{ room_data.player2_name }}</h3>

    </div>

    <div class="d-flex justify-content-center">
        <div class="box  ">
            <div class="row ">
                <div class="col-4 ">
                    <input class="form-control size row00 " type="button" value="">
                </div>
                <div class="col-4 d-flex">
                    <input class="form-control  size row01  " type="button" value="">
                </div>
                <div class="col-4">
                    <input class="form-control size row02" type="button" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input class="form-control size row10" type="button" value="">
                </div>
                <div class="col-4">
                    <input class="form-control size row11" type="button" value="">
                </div>
                <div class="col-4">
                    <input class="form-control size row12" type="button" value="">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input class="form-control size row20" type="button" value="">
                </div>
                <div class="col-4">
                    <input class="form-control  size row21" type="button" value="">
                </div>
                <div class="col-4">
                    <input class="form-control  size row22" type="button" value="">
                </div>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="" method="GET">
                <button type="button" class="btn btn-success reset">Reset</button>
                <button type="button" class="btn btn-danger delete_row " value='{{room_data.id}}'>Delete</button>
            </form>
        </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="{% static 'js/room.js' %}"></script>
    <script src="{% static 'js/tictactoe.js' %}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>